<html>

<body>
<h1>Welcome admin</h1>
<div class ="container">
  <div class = "card">

<!--    <button type="button" (click)="getUsers()"> All Users</button>-->

    <button *ngIf="!isLoggedIn" type="button" (click)="login()">Log in</button>
    <button *ngIf="isLoggedIn" type="button" (click)="logout()">Log out</button>
    <div class = "container">
      <router-outlet></router-outlet>
    </div>
    <div class = "card-body">
<!--      <table class="table table-striped">-->
<!--        <thead>-->
<!--        <th> FirstName</th>-->
<!--        <th> LastName </th>-->
<!--        <th> Email </th>-->
<!--        <th> Username </th>-->
<!--        </thead>-->
<!--        <tbody>-->
<!--        <tr *ngFor = "let user of users">-->
<!--          <td> {{ user.firstName}}</td>-->
<!--          <td> {{ user.lastName}}</td>-->
<!--          <td> {{ user.email}}</td>-->
<!--          <td>{{user.userName}}</td>-->
<!--        </tr>-->
<!--        </tbody>-->
<!--      </table>-->
    </div>
    <nav class="navbar navbar-expand-sm bg-primary navbar-dark">
      <ul class = "navbar-nav">

      </ul>
    </nav>


  </div>
</div>

</body>
</html>





